*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 2rem;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
image{
  width: 100%;
  height: auto;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.header{
  background-image: url(./images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 1.5rem;

}
.navbar{
  margin: 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-white{
  width: 6rem;
  height: 4vh;
  border-radius: 1rem;
  font-weight: 700;
  font-size: x-large;
  background-color: #ffff;
  box-shadow:  2px 2px 2px ,-2px -2px 2px);
}
.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  text-align: center;
}
.hero-top-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.main-heading{
  font-size: 2rem;
  font-weight: 700;
}
.hero-discreption{
  font-size: 1rem;
  font-weight: 400;
}
.btn-pink{
  width: 10rem;
  height: 4vh;
  border-radius: 1rem;
  font-weight: 700;
  font-size: x-large;
  background-color: rgb(246, 103, 127);
  color: aliceblue;
}
.section-1{
  margin: 1rem 1rem;
  padding: 3rem;
  box-shadow: 5px 5px 5px,-5px -5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-2{margin: 1rem 1rem;
  padding: 3rem;
  box-shadow: 5px 5px 5px,-5px -5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-3{
  margin: 1rem 1rem;
  padding: 3rem;
  box-shadow: 5px 5px 5px,-5px -5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section-4{
  margin: 1rem 1rem;
  padding: 3rem;
  box-shadow: 5px 5px 5px,-5px -5px 5px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.grow-together,
.conversation,
.illustration,
.illustration-mockups{
  width: 100%;
}
.footer{
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 1rem;
  gap:2rem;
}
.footer-logo{
  font-size: 3rem;
  font-weight: 900;
  margin-top: 6rem;
  padding: 1rem;
}
.location,
.contact,
.email{
  display: flex;
  gap: 1rem;
}

.about-us,.what-we-do{
  padding-bottom: 1rem;
}
.carrear,.blog,contact-us{
  padding-bottom: 1rem;
}
.footer-4{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.social-media{
  border: 5px;
  border-radius: 50%;
}
.section-4{
  background-color:rgb(255, 255, 255);
  margin: 2rem 3rem;
  padding: 3rem;
  box-shadow: 3px 3px 3px,-3px -3px 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -4rem;
  position: relative;
  z-index: 10;
}
@media screen and (min-width:px) {
  .header{
    background-image: url('../images/bg-hero-desktop.svg');
  }
  .navbar{
    width: 80%;
    margin: auto;
  }
  .hero-section{
    flex-direction: row;
    width: 90%;
    margin: auto;
    gap: 2rem;
  }
}
